<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <h1>DES JEUX</h1>
    <p>Retrouvez <router-link to="/gamelist">ici</router-link> une super liste de 1 jeu !</p>
  </div>
</template>

