<template>
    <div>
        <StartButton v-on:start-game="startGame"></StartButton>
        <div v-if="level>0">
            <Level v-bind:level="level" v-bind:order="order">Level : </level>
            <div class="board">
                <Puddle v-for="(puddle, index) in puddles"  v-bind:key="index" ref="puddleObject" v-bind:data="puddle" v-bind:index="index" v-on:click-button="puddleClick" >{{puddle.text}}</Puddle>
            </div>
        </div>
    </div>
</template>

<script>
import Level from './simon/Level.vue'
import StartButton from './simon/StartButton.vue'
import Puddle from './simon/Puddle.vue'

export default {
    name: 'Engine',
    data: function() {
        return {
            level : {
                type: Number,
                default: 0
            },
            // Liste des puddles à afficher
            puddles :  [
                { text: "one" , color : "red", classActive: "red-active", active:false, sound:new Audio(require("@/assets/sounds/red.ogg"))},
                { text: "two" , color : "yellow", classActive: "yellow-active", active:false, sound:new Audio(require("@/assets/sounds/yellow.ogg"))},
                { text: "three" , color : "green", classActive: "green-active", active:false, sound:new Audio(require("@/assets/sounds/green.ogg"))},
                { text: "four" , color : "blue", classActive: "blue-active", active:false, sound:new Audio(require("@/assets/sounds/blue.ogg"))},
            ],
            order : Array,
            orderPlayer : {
                type: Number,
                default: 0
            }
        }
    }, 
    components: {
        StartButton,
        Level,
        Puddle
    },
    methods : {
        // Initialise une partie
        startGame: function() {
            this.level = 0;
            this.order = [];
            this.levelUp()
        },
        // Augmente la difficulté
        levelUp: function() {
            let rand = Math.floor(Math.random() * (3 - 0 +1)) ;
            this.level++;
            this.orderPlayer = 0;
            this.order.push(rand);
            // Pour laisser le temps aux Puddles d'être généré
            const that = this;
            setTimeout(function() {
                that.highlightsPuddles();
            }, 500);
        },

        // Met en surbrillances les différents puddles à sélectionner
        highlightsPuddles: function () {
            for (var i = 0; i < this.order.length; i++) {
                this.$refs.puddleObject[this.order[i]].highlightsSynchro(i);
            }
        },
        // Clique sur un puddle
        puddleClick : function(id) {
            if (this.order[this.orderPlayer] == id) {
                this.$refs.puddleObject[id].highlight();
                this.orderPlayer++;
                // Check End
                if (this.orderPlayer == this.order.length) {
                    this.levelUp();
                }
            } else {
                alert("Tu t'es trompe !!! Tu recommences !");
                this.startGame();
            }
        }
    }
}
</script>
