<template>
    <span>
        <div v-for="(game, index) in games"  v-bind:key="index" class="game">
            <router-link :to="game.route"><img :src="game.img"></router-link>
        </div>
    </span>
</template>



<script>

export default {
    name: 'List',
    data: function() {
        return { 
            games : [
                { name: "Simon", route: "/simon", img: require("@/assets/images/simon.png")}
            ]
        }
    }
}

</script>


<style scoped>
    .game {
        width: 25%;
    }

    img {
        width:100%;
    }

</style>