<template>
    <div v-bind:class="[data.color, data.active ? data.classActive : '']"  class="puddle" v-on:click="puddleClick(index)" ></div>
</template>

<script>
export default {
  name: 'Puddle',
  props: {
    index: Number,
    data: Object
  }, 
  methods: {
        puddleClick(id) {
            this.$emit('click-button', id);
        },
        // Synchronise les puddles à mettre en surbrillance
        highlightsSynchro(i) {
            const that  = this;
            setTimeout(function(){
                that.highlight();
            } ,1000 * (i+2));
        },
        // Met en surbrillance le puddle d'indice i dans l'ordre des puddles
        highlight() {
            const that  = this;
            this.data.active = true;
            this.data.sound.play();
            setTimeout(function(){
                that.data.active = false;
            }, 900);
        }
  }
}
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.puddle{
    width:47%;
    height:150px;
    margin: 0.1% ;
    text-align: center;
    display: inline-block;
}

/*
    Class for puddles colors
*/
.red {
    border-top-left-radius:100%;
    background-color: tomato;
}

.red-active {
    background-color: red;
}

.green {
    background-color: lightgreen;
    border-bottom-left-radius:100%;
}

.green-active {
    background-color: green;
}

.yellow {
    background-color: lightyellow;
    border-top-right-radius:100%;
}
.yellow-active {
    background-color: yellow;
}

.blue {
    background-color: lightblue;
    border-bottom-right-radius:100%;
}
.blue-active {
    background-color: blue;
}
</style>