<template>
    <div id="simon">
        <div class="startButton">
            <button v-on:click="startGame()">Start</button>
        </div>
    </div>
</template>

<script>
export default {  
    name: 'StartButton',
    props: {
        order: Array,
        level:{ 
            type: Number,
            default: 0    
        }
    },
    methods : {
        startGame() {
            this.$emit('start-game');
        }
    }
}
</script>

